.v-text-field
    &.v-text-field--enclosed
        .v-input__prepend-outer
        .v-input__prepend-inner
        .v-input__append-inner
        .v-input__append-outer
            margin-top 7px
        &.v-text-field__details,
        > .v-input__control > .v-input__slot
            size(33px, 'min-height', 'line')
            border-width: 1px

.v-text-field--box
.v-text-field--full-width
.v-text-field--outline
    input
        margin-top auto
