.only.signIn >>>
.only.editPassword >>>
    fs()
        font-size 18px
    .v-input__append-inner
        margin-top 2px
        cursor pointer
    .label
        fs()
    .button
        margin-top 40px
    .theButton
        color $_color_primary
        fs()
    .getCode
        margin 0
        padding 0
        fs()
        font-weight 100
        &:hover
        &:focus
            &:before
                background none
