// 主色
$_color_primary = #8363A7
// 辅色
$_color_white = #FFF
$_color_black = #000
$_color_secondary = #048BF4

$_color_accent = #82B1FF
$_color_error = #FF5252
$_color_info = #2196F3
$_color_success = #4CAF50
$_color_warning = #FFC107

$_color_border = darken($_color_white, 10%)
$_color_background = darken($_color_white, 30%)
$_color_shadow = rgba(0, 0, 0, 0.12)
$_color_font = darken($_color_white, 30%)

$_color_background_input = #F4F4F4
$_color_background_page = darken($_color_white, 10%)
