@import './ui/*';

html
    -webkit-font-smoothing auto
body
#app
    font-family PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight 100
span
    // font-size: inherit
h1,h2,h3,h4,h5,h6
    font-weight 100

a
    text-decoration: none

#app
    background url($_img + '/home/bg.jpg') no-repeat center
    background-size cover

// flex容器下的元素填满
.flexChildFill
    position relative
    & > *
        position absolute
        size(100%)

// 转按钮样式
.theButton
    cursor pointer

// 不换行
.nowrap
    white-space nowrap

// 表单 > 标签单行排列方式
.formItem.row
    display flex
    flex-flow row
    align-items center
    .label
        position relative
        @extend .nowrap
        margin-right 10px
        margin-bottom 8px
        font-weight 400
        &.required::before
            position absolute
            top 2px
            left -8px
            content '*'
            color $_color_error
        & + *
            flex auto
    .v-text-field__details
        position absolute
        bottom -18px

// 表单
.theme--light.v-input
    // 文本框样式
    &.v-text-field
        .v-input__control
            .v-input__slot
                background $_color_background_input!important
                border none
                .v-select__selections
                    padding-top 0
        &:not(.v-input--is-focused):not(.v-input--has-state)
            .v-input__control .v-input__slot:hover
                    border none
    // 单选框
    &.v-input--checkbox
        .v-input--selection-controls__input
            margin-right 0
        .v-input--selection-controls__ripple
            top calc(50% - 19px)
            size(24px)
        .v-icon
            font-size 14px
        .v-label
            font-size 12px

// 翻页按钮
.v-pagination__item:focus
    outline-style none

// 小型图标按钮
.v-btn--floating.v-btn--small
    size(25px)
